[submodule "marius-button"]
	path = marius-button
	url = https://github.com/marius2502/marius-button.git

[submodule "marius-fifa-card"]
	path = marius-fifa-card
	url = https://github.com/marius2502/marius-fifa-card.git
[submodule "marius-navbar"]
	path = marius-navbar
	url = https://github.com/marius2502/marius-navbar.git
[submodule "marius-left-navbar"]
	path = marius-left-navbar
	url = https://github.com/marius2502/marius-left-navbar.git
