[submodule "marius-card"]
	path = marius-card
	url = https://github.com/marius2502/marius-card.git
[submodule "angular-webComponents-starter"]
	path = angular-webComponents-starter
	url = https://github.com/marius2502/angular-webComponents-starter.git
