@import "../../../customBootstrap.scss";
@import "../../../codeStyle.scss";

.secondNavbar {
  --skew-degree-x: 0deg;
  --skew-degree-y: 0deg;
}

.thirdNavbar {
  --skew-degree-x: 0deg;
  --skew-degree-y: 0deg;
}
