@import "../customBootstrap.scss";

.componentInfo {
  background-color: #1d1d1d;
  border-radius: 15px;
  padding: 20px 45px;
  word-wrap: break-word;
}


.tag {
  color: #569cd6;
}

.attribute {
  color: #9cdcfe;
  padding-left: 40px;
}

.attributeName {
  color: #d7ba7d !important;
}

.comment {
  color: #6A9955;
}

a {
  cursor: pointer;
}